{% extends "layout.html" %}
{% block title %}Edit user{% endblock %}
{% block body %}

{% if msg %}
  <div class="msg">{{msg}}</div>
{% endif %}

<h1>Edit User</h1>
<form method="POST">
  <input type="hidden" name="_csrf_token" value="{{csrf_token()}}">
  <input type="hidden" name="action" value="details">
  <div>
    <label for="username">Username:</label>
    <input class="u-full-width" type="text" name="username" disabled="disabled" value="{{user.username}}">
  </div>
  <div>
    <label for="email">Email:</label>
    <input class="u-full-width" type="text" name="email" value="{{user.email}}">
  </div>
  <input type="submit" class="button-primary" value="Save">
</form>

<hr />

<h3>New Password</h3>

<form method="POST">
  <input type="hidden" name="_csrf_token" value="{{csrf_token()}}">
  <input type="hidden" name="action" value="changepassword">
  <div>
    <label for="old_password">Old Password:</label>
    <input class="u-full-width" type="password" name="old_password" value="" required>
  </div>
  <div>
    <label for="new_password">New Password:</label>
    <input class="u-full-width" type="password" name="new_password" value="" required>
  </div>
  <div>
    <label for="rep_password">Repeated:</label>
    <input class="u-full-width" type="password" name="rep_password" value="" required>
  </div>
  <input type="submit" class="button-primary" value="Save">
</form>
{% endblock %}
