{% extends "layout.html" %}
{% block title %}Create new invoice{% endblock %}
{% block head %}
<script src="/static/js/create.js"></script>
<style>
  .preview  {
    height: 800px;
  }
</style>
{% endblock %}
{% block body %}
<h2><img src="/static/images/64px/document.png"> Invoice Details</h2>
<form method="post" action="/invoice/create">
  <input type="hidden" name="_csrf_token" value="{{csrf_token()}}">
<p><b>Customer:</b> {{customer.name}}</p>

<p>
  <label for="duedate">Due date:</label>
  <input type="text" name="duedate" class="datepicker">
</p>

<!-- <p>
  <label for="duedate">Due date:</label>
  <input type="text" name="duedate" class="datepicker">
</p> -->
<div class="whitepaper">
<h3>Rows</h3>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Description</th><th>VAT (%)</th><th>Cost</th><th></th>
    </tr>
  </thead>
  <tbody id="invoice-rows">
  </tbody>
</table>
<div class="row">
    <div class="eight columns">
      &nbsp;
    </div>
    <div class="four columns">
      <input id="button-new-row" class="button-primary" type="button" value="Add new row">
    </div>
</div>
</div>

<br />

<div id="preview">
  <h2>Preview</h2>

  <iframe name="preview" class="u-full-width preview"></iframe>
</div>

<hr />

<div class="row">
    <div class="four columns">
      <a href="/invoice/create" class="button">Back</a>
    </div>
    <div class="four columns">
      &nbsp;
    </div>
    <div class="four columns">
      <input id="button-preview" class="button-primary" type="submit" name="preview" value="Preview">
      <input id="button-create" class="button-primary" type="submit" name="create" value="Create">
    </div>
</div>
</form>

{% endblock %}
