{% extends "layout.html" %}
{% block title %}Invoices{% endblock %}
{% block body %}
<h1><img src="/static/images/64px/document.png"> Invoices</h1>
<div class="row">
  <a class="button button-primary" href="/invoice/create">Create new invoice</a>
</div>

<div class="whitepaper">
  <div class="row">
    <div class="six columns">
      {% for i in range(0, count // 10 + 1) %}
      <ul class="paginator">
        {% if i == page %}
          <li><a href="/invoices?query={{query}}&p={{i}}" class="current">{{i+1}}</a></li>
        {% else %}
          <li><a href="/invoices?query={{query}}&p={{i}}">{{i+1}}</a></li>
        {% endif %}
      </ul>
      {% endfor %}
    </div>
    <div class="six columns ralign">
      <form method="GET" action="/invoices">
        <input type="text" placeholder="Query" name="query" value="{{query}}">
        <input type="submit" class="button" value="search">
      </form>
    </div>
  </div>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Id</th>
      <th>Customer</th>
      <th>Created</th>
      <th>Due</th>
      <th>Amount</th>
      <th></th>
      <!-- <th></th> -->
    </tr>
  </thead>
  <tbody>
  {% for invoice in invoices %}
    <tr>
      <td>{{invoice.id}}</td>
      <td>{{invoice.customer.name}}</td>
      <td>{{invoice.created.strftime('%Y-%m-%d')}}</td>
      <td>{{invoice.due.strftime('%Y-%m-%d')}}</td>
      <td>{{invoice.total_value}}</td>
      <td><a  class="button" href="/invoice/{{invoice.id}}">open</a><a  class="button" href="/invoice/{{invoice.id}}/delete">delete</a></td>
      <!-- <td><a href="/invoice/{{invoice.id}}">delete</a></td> -->
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
