{% extends "layout.html" %}
{% block title %}Invoice {{invoice.id}}{% endblock %}
{% block body %}
<h2><img src="/static/images/64px/profle.png"> Customer details</h2>
<div>
  <label for="customerName">Name</label>
  <p class="u-full-width"  name="customerName">{{invoice.customer.name}}</p>
</div>
<div>
  <label for="customerName">Address</label>
  <p class="u-full-width" name="customerStreet">{{invoice.customer.street}}</p>
</div>
<div class="row">
  <div class="six columns">
    <label for="customerCity">City</label>
    <p class="u-full-width" name="customerCity">{{invoice.customer.city}}</p>
  </div>
  <div class="six columns">
    <label for="customerZip">Zip</label>
    <p class="u-full-width" name="customerZip" >{{invoice.customer.zip}}</p>
  </div>
</div>
<div>
  <label for="customerReference">Reference Person:</label>
  <p class="u-full-width">{{invoice.customer.reference}}</p>
</div>

<div class="whitepaper">
<h2><img src="/static/images/64px/document.png"> Invoice rows</h2>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Description</th><th>VAT (%)</th><th>Cost</th>
    </tr>
  </thead>
  <tbody id="invoice-rows">
    {% for row in invoice.rows %}
        <tr>
          <td>{{row.description}}</td>
          <td>{{row.tax}}</td>
          <td>{{row.value}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div>
  <a href="/invoice/{{invoice.id}}/pdf">Fetch pdf</a>
</div>


{% endblock %}
