{% extends "layout.html" %}
{% block title %}Customer {{customer.id}}{% endblock %}
{% block body %}
<h2><img src="/static/images/64px/profle.png"> Customer details</h2>
<div>
  <label for="customerName">Name</label>
  <input class="u-full-width" type="text" value="{{customer.name}}" placeholder="Isaac Asimov" name="customerName" readonly>
</div>
<div>
  <label for="customerName">Address</label>
  <input class="u-full-width" type="text" placeholder="Liberty Lane 123" name="customerStreet"  value="{{customer.street}}" readonly>
</div>
<div class="row">
  <div class="six columns">
    <label for="customerCity">City</label>
    <input class="u-full-width" type="text" placeholder="St. Petersburg" name="customerCity"  value="{{customer.city}}" readonly>
  </div>
  <div class="six columns">
    <label for="customerZip">Zip</label>
    <input class="u-full-width" type="text" placeholder="123 45" name="customerZip"  value="{{customer.zip}}" readonly>
  </div>
</div>

<h2>Invoices</h2>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Id</th>
      <th>Customer</th>
      <th>Created</th>
      <th>Due</th>
      <th>Amount</th>
      <th></th>
      <!-- <th></th> -->
    </tr>
  </thead>
  <tbody>
  {% for invoice in invoices %}
    <tr>
      <td>{{invoice.id}}</td>
      <td>{{invoice.customer.name}}</td>
      <td>{{invoice.created}}</td>
      <td>{{invoice.due}}</td>
      <td>{{invoice.total_value}}</td>
      <td><a href="/invoice/{{invoice.id}}">open</a></td>
      <!-- <td><a href="/invoice/{{invoice.id}}">delete</a></td> -->
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
