{% extends "layout.html" %}
{% block title %}Faktura{% endblock %}
{% block body %}
<h1>First Time Setup</h1>
<p>
  No user was found in the database, so I assume this is your first time visiting this site.
  You'll need to create a user account in order to use this service.
</p>

{% if msg %}
  <div class="msg">{{msg}}</div>
{% endif %}

<form method="POST">
  <input type="hidden" name="_csrf_token" value="{{csrf_token()}}">
  <div>
    <label for="username">Username:</label>
    <input class="u-full-width" type="text" name="username" required>
  </div>

  <div>
    <label for="email">Email:</label>
    <input class="u-full-width" type="email" name="email" required>
  </div>

  <div>
    <label for="password">Password:</label>
    <input class="u-full-width" type="password" name="password" required>
  </div>

  <div>
    <label for="repeat">Repeat the password:</label>
    <input class="u-full-width" type="password" name="repeat" required>
  </div>

  <hr />

  <div class="ralign">
    <input type="submit" value="continue" class="button-primary">
  </div>

</form>

{% endblock %}
