<!DOCTYPE HTML>
<html>
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}Faktura{% endblock %}</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/faktura.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">

 <!-- JS -->
 <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
 <script src="/static/js/jquery-ui.js"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
<div class="container" id="main">
  <div class="row">
    <div class="six columns"  id="breadcrumbs">
    {% for item in breadcrumbs %}
      <li><a href="{{item.url}}">{{ item.text }}</a></li>
    {% endfor %}
    </div>
    <div class="six columns ralign logout">
      {% if current_user.is_authenticated() %}
      <a href="/logout">Logout</a>
      {% endif %}
    </div>

  </div>
  <div id="content">
{% block body %}

{% endblock %}
  </div>
</div>
</body>
