<!DOCTYPE HTML>
<html>
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Authenticate!</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/faktura.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">

  <style>
    body {
      background-color: #F4D03F;
    }
  </style>
</head>
<body>

<div class="container">
    <div class="row" id="loginmain">
      <div class="six columns" id="pretty">
      </div>
      <div class="six columns" id="loginbox">
        <h2>Please authenticate</h2>

      {% if msg %}
        <div class="msg">{{msg}}</div>
      {% endif %}

      <form method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" class="u-full-width" value="{{username}}" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" class="u-full-width" required>
        </div>
        <div class="ralign">
          <input type="submit" class="button-primary" value="Login">
        </div>
      </form>
      </div>
    </div>
</div>
</div>

</body>
